.footer{
     background: #F7F7F7;
     padding: 1.625em 0 5.06em;
     &__title{
          @include font(900,1.75rem, 1.107em, $bold-family);
          text-align: center;
          margin-bottom:1.15em;
     }
     &__list{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          list-style: none;
     }
     &__link{
          @include font(400,0.93rem, 2em,$font-family);
          letter-spacing: 0.13em;
          text-transform: uppercase;
          display: block;
          padding: 0.3em;
          color:$black;
          position: relative;
     }
     &__link::after{
          position: absolute;
          display: block;
          width: 100%;
          height: 1px;
          background:$black;
          transform: translateX(-100%);
          content:"";
          opacity: 0;
          transition: transform .3s,
                    opacity .3s;
     }
     &__link:hover.header__link::after{
          transform: translateX(-5px);
          opacity: 1;
     }
}
@media(max-width:540px){
     .footer{
          display: none;
     }
}